<section class="container" id="about">
  <h2 class="house">Чому Хатинка Лапок</h2>

  <div class="swiper-nav-wrap">
    <div class="swiper-track">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              srcset="
                ./img/images/woman-and-dog.jpg    1x,
                ./img/images/woman-and-dog@2x.jpg 2x
              "
              src="./img/images/woman-and-dog.jpg"
              alt="Slide 1"
            />
            <div class="slide-content">
              <p class="slide-text">
                Все почалося у 2015 році з кількох небайдужих людей та одного
                врятованого собаки. Сьогодні ми — один з найбільших притулків у
                регіоні, але наша мета незмінна: дати другий шанс тим, кого
                зрадили.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./img/images/happy-dog.jpg    1x,
                ./img/images/happy-dog@2x.jpg 2x
              "
              src="./img/images/happy-dog.jpg"
              alt="Slide 2"
            />
            <div class="slide-content">
              <p class="slide-text">
                Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
                безпритульних тварин. Наша мета — не просто дати прихисток, а й
                забезпечити кожному "хвостику" щасливе та повноцінне життя в
                новій родині.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./img/images/people-with-pets.jpg    1x,
                ./img/images/people-with-pets@2x.jpg 2x
              "
              src="./img/images/people-with-pets.jpg"
              alt="Slide 3"
            />
            <div class="slide-content">
              <p class="slide-text">
                "Хатинка Лапок" — це команда професійних ветеринарів, кінологів
                та десятків волонтерів, які щодня вкладають свою душу та час у
                турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
                залежить від нас.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./img/images/atraction.jpg    1x,
                ./img/images/atraction@2x.jpg 2x
              "
              src="./img/images/atraction.jpg"
              alt="Slide 4"
            />
            <div class="slide-content">
              <p class="slide-text">
                Ми створили безпечний та комфортний простір. Кожна тварина
                отримує якісне харчування, своєчасну ветеринарну допомогу,
                проходить соціалізацію та гуляє на спеціально обладнаних
                майданчиках.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./img/images/happydog.jpg    1x,
                ./img/images/happydog@2x.jpg 2x
              "
              src="./img/images/happydog.jpg"
              alt="Slide 5"
            />
            <div class="slide-content">
              <p class="slide-text">
                Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
                волонтером, допомогти фінансово або інформаційно. Кожен
                маленький внесок наближає нас до великої мети — світу без
                безпритульних тварин.
              </p>
            </div>
          </div>
        </div>
      </div>

      <button class="swiper-button-prev">
        <svg class="sprite" width="24" height="24">
          <use href="./img/icon/icons.svg#icon-arrow_back"></use>
        </svg>
      </button>
      <button class="swiper-button-next">
        <svg class="sprite" width="24" height="24">
          <use href="./img/icon/icons.svg#icon-arrow_forward"></use>
        </svg>
      </button>
    </div>

    <!-- Пагінація -->
    <div class="swiper-controls">
      <div class="swiper-pagination-wrapper">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
