<div class="burger-menu">
    <div class="container">

        <div class="burger-header">
            <svg class="header-icon" width="157" height="51">
                <use href="/img/icon/icons.svg#icon-logo"></use>
            </svg>

            <button class="close-burger-menu burger-btn" type="button">
                <svg class="close-mobile" width="24" height="24">
                    <use href="/img/icon/icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        
        <nav class="nav-mobile">

            <ul class="mobile-list">
                <li class="mobile-item"><a class="header-nav-link" href="#find-friend">Знайди друга</a></li>
                <li class="mobile-item"><a class="header-nav-link" href="#about">Про нас</a></li>
                <li class="mobile-item"><a class="header-nav-link" href="#question">Часті запитання</a></li>
                <li class="mobile-item"><a class="header-nav-link" href="#history">Історії успіху</a></li>
            </ul>

            <a class="burger-button" href="#find-friend">Взяти друга</a>
        </nav>

        
        
    </div>
</div>
