<section class="faq-section" id="question">
  <div class="container">
    <h2 class="faq-title">Все, що ви хотіли знати</h2>
    <div class="accordion-container">
      <div class="faq-list ac">
        <h3 class="ac-header faq-list-title">
          <button type="button" class="faq-btn ac-trigger">
            Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати
            хвостика додому?
            <svg class="faq-svg" width="24" height="24">
              <use href="/img/icon/icons.svg#icon-add"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-list-item ac-panel">
          <div class="ac-text">
            <p class="faq-list-caption">
              Це чудово, що ви готові подарувати дім одному з наших підопічних!
              Ми дуже раді будемо вам у цьому допомогти. Процес «усиновлення» у
              нас простий та зрозумілий:
            </p>
            <ol class="faq-list-number">
              <li class="faq-list-item-text">
                Оберіть друга: Придивіться до наших хвостиків у розділі «Знайди
                друга».
              </li>
              <li class="faq-list-item-text">
                Залиште заявку: Коли відчуєте, що це «ваша» тваринка, натискайте
                кнопку «Взяти додому» та заповніть коротку анкету.
              </li>
              <li class="faq-list-item-text">
                Поговоріть з куратором: Наш волонтер зателефонує вам, щоб
                познайомитись ближче, розповісти про характер тваринки та
                відповісти на всі ваші питання.
              </li>
              <li class="faq-list-item-text">
                Приїжджайте знайомитись: Якщо ви ідеально підходите одне одному,
                ми домовимось про зустріч у притулку.
              </li>
              <li class="faq-list-item-text last-child">
                Дорога додому: Після знайомства та підписання договору про
                відповідальне утримання, ваш новий друг поїде з вами у своє
                нове, щасливе життя!
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="faq-list ac">
        <h3 class="ac-header faq-list-title">
          <button type="button" class="faq-btn ac-trigger">
            Як мені найкраще підготувати свій дім та родину до появи хвостика?
            <svg class="faq-svg" width="24" height="24">
              <use href="/img/icon/icons.svg#icon-add"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-list-item ac-panel">
          <div class="ac-text">
            <p class="faq-list-caption">
              Чудове питання, яке показує вашу турботу! Переїзд — це завжди
              невеликий стрес для тваринки, але правильна підготовка зробить цей
              процес легким і радісним. Ось кілька порад:
            </p>
            <ul class="faq-list">
              <li class="faq-list-item-text">
                Безпечний простір: Переконайтесь, що на вікнах є сітки, а дроти
                та побутова хімія сховані.
              </li>
              <li class="faq-list-item-text">
                Особисті речі: Підготуйте для хвостика дві мисочки (для їжі та
                води), лежанку чи будиночок, лоток з наповнювачем для котика або
                повідець і нашийник для собачки.
              </li>
              <li class="faq-list-item-text">
                Сімейна розмова: Обговоріть з рідними майбутні обов'язки.
                Важливо, щоб усі були готові до появи нового мешканця.
              </li>
              <li class="faq-list-item-text last-child">
                Терпіння та любов: Дайте тваринці час, щоб звикнути. Не квапте
                її, будьте поруч, розмовляйте лагідним голосом — і ваша любов
                творитиме дива!
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="faq-list ac">
        <h3 class="ac-header faq-list-title">
          <button type="button" class="faq-btn ac-trigger">
            Чи можу я бути впевненим, що тваринка здорова? Розкажіть про
            щеплення.
            <svg class="faq-svg" width="24" height="24">
              <use href="/img/icon/icons.svg#icon-add"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-list-item ac-panel">
          <div class="ac-text">
            <p class="faq-list-caption">
              Так, звісно. Здоров'я наших підопічних — наш головний пріоритет.
              Кожна тваринка, яка потрапляє до нас, проходить повний огляд у
              ветеринара. Ми гарантуємо, що:
            </p>
            <ul class="faq-list">
              <li class="faq-list-item-text">
                Усі хвостики оброблені від бліх та глистів.
              </li>
              <li class="faq-list-item-text">
                Усі вакциновані комплексною вакциною за віком.
              </li>
              <li class="faq-list-item-text last-child">
                Дорослі тварини (зазвичай від 6-8
                місяців) стерилізовані/кастровані.
              </li>
            </ul>
            <p>
              Разом із тваринкою ви обов'язково отримаєте її ветеринарний
              паспорт з усіма відмітками. Якщо у когось є особливі потреби у
              догляді чи харчуванні, ми чесно і детально про це розповімо.
            </p>
          </div>
        </div>
      </div>
      <div class="faq-list ac">
        <h3 class="ac-header faq-list-title">
          <button type="button" class="faq-btn ac-trigger">
            Я дуже хочу допомогти, але поки не готовий до адопції. Чим я можу
            підтримати «Хатинку лапок»?
            <svg class="faq-svg" width="24" height="24">
              <use href="/img/icon/icons.svg#icon-add"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-list-item ac-panel">
          <div class="ac-text">
            <p class="faq-list-caption">
              Дякуємо вам за велике серце та бажання допомогти! Кожна допомога
              для нас безцінна. Навіть якщо ви не можете взяти тваринку, ви
              можете стати її янголом-охоронцем. Ось як:
            </p>
            <ul class="faq-list">
              <li class="faq-list-item-text">
                Допомогти фінансово: Ваша пожертва піде на корм, ліки, оплату
                комунальних послуг та зарплату персоналу.
              </li>
              <li class="faq-list-item-text">
                Стати волонтером: Нам завжди потрібні люблячі руки для
                прогулянок з собачками, прибирання та, найголовніше, для
                спілкування з тваринками.
              </li>
              <li class="faq-list-item-text">
                Подарувати необхідне: Ми завжди раді кормам, лікам, наповнювачам
                для лотків, іграшкам, теплим ковдрам.
              </li>
              <li class="faq-list-item-text last-child">
                Допомогти інформаційно: Найпростіший, але дуже дієвий спосіб —
                розповідати про нас у соцмережах. Можливо, саме ваш репост
                допоможе комусь знайти свою долю!
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="faq-list ac">
        <h3 class="ac-header faq-list-title">
          <button type="button" class="ac-trigger faq-btn">
            Мені сподобалась одна з ваших тваринок на сайті. Чи можу я приїхати,
            щоб познайомитися з нею особисто?
            <svg class="faq-svg" width="24" height="24">
              <use href="/img/icon/icons.svg#icon-add"></use>
            </svg>
          </button>
        </h3>

        <div class="faq-list-item ac-panel">
          <div class="ac-text">
            <p class="faq-list-caption">
              Авжеж! Ми віримо, що справжня магія стається лише при особистій
              зустрічі. Щоб знайомство було комфортним і для вас, і для
              тваринки, ми просимо вас спочатку заповнити онлайн-заявку на
              нашому сайті.
            </p>
            <p class="faq-list-caption last-child">
              Після цього з вами зв'яжеться куратор тваринки, щоб домовитись про
              зручний час для вашого візиту. Такий підхід дозволяє нам приділити
              вам максимум уваги та уникнути зайвого стресу для наших
              підопічних. З нетерпінням чекаємо на знайомство!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


