<footer class="footer" id="footer">
  <div class="footer__container">
    <!-- Логотип -->
    <a class="footer-logo margin-bottom-32" href="./index.html">
        <svg class="header-icon" width="279" height="97">
            <use href="/img/icon/icons.svg#icon-logo"></use>
        </svg>
    </a>

    <!-- Навігація -->
    <nav class="footer__nav margin-bottom-32">
      <ul class="footer-list">
        <li class="footer-list-item"><a href="#about" class="footer__link">Про нас</a></li>
        <li class="footer-list-item"><a href="#find-friend" class="footer__link">Знайти друга</a></li>
        <li class="footer-list-item"><a href="#question" class="footer__link">Часті запитання</a></li>
        <li class="footer-list-item"><a href="#history" class="footer__link">Історії успіху</a></li>
      </ul>
      
    </nav>

    <!-- Соцмережі -->
    <div class="footer__socials">
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="social-link" aria-label="Facebook">
        <svg width="32" height="32">
          <use href="/img/icon/icons.svg#icon-Facebook"></use>
        </svg>
      </a>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="social-link" aria-label="Instagram">
        <svg width="32" height="32" >
          <use href="/img/icon/icons.svg#icon-Instagram"></use>
        </svg>
      </a>
    </div>

    <div class="footer__divider"></div>

    <!-- Копірайт -->
    <p class="footer__copy">© 2026 Хатинка лапок. Всі права захищені.</p>
  </div>
   </div>
</footer>
