<header class="header" id="header">
    <div class="container header-container">

        <nav class="header-nav">
            <a class="header-logo" href="./index.html" aria-label="На головну сторінку">
                <svg class="header-icon" width="157" height="51" aria-hidden="true" focusable="false">
                    <use href="/img/icon/icons.svg#icon-logo"></use>
                </svg>
            </a>

            <ul class="header-nav-list">
                <li class="header-nav-item"><a class="header-nav-link" href="#find-friend">Знайди друга</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="#about">Про нас</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="#question">Часті запитання</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="#history">Історії успіху</a></li>
            </ul>

            <button
                class="burger-btn"
                type="button"
                aria-label="Відкрити меню"
                aria-controls="mobile-menu"
                aria-expanded="false"
            >
                <svg class="header-burger" width="24" height="24" aria-hidden="true" focusable="false">
                    <use href="/img/icon/icons.svg#icon-menu"></use>
                </svg>
            </button>
        </nav>

        <a href="#find-friend" class="friend-btn">Взяти друга</a>

    </div>
</header>


