<section class="tails" id="find-friend">
  <div class="container tails-container">
    <div class="tails-title">
      <h2 class="tails-title-heading">Наші хвостики</h2>
      <h3 class="tails-subtitle">Вони дуже чекають на знайомство з вами</h3>
    </div>

    <ul class="tails-category category"></ul>
    <ul class="tails-list"></ul>

    <div class="loader is-hidden"></div>

    <!-- <button class="tails-btn">Показати більше</button> -->
     <div class="tails-pagination is-hidden">
  <button class="page-btn prev-btn">
    <svg width="24" height="24">
      <use href="./img/icon/icons.svg#icon-arrow_back"></use>
    </svg>
  </button>
  <div class="pagination-numbers"></div>
  <button class="page-btn next-btn">
    <svg width="24" height="24">
      <use href="./img/icon/icons.svg#icon-arrow_forward"></use>
    </svg>
  </button>
  </div>
  </div>
</section>
