<section class="review-section review" id="history">
  <div class="container review-container">
    <h2 class="review-main-text">Щасливі історії, що надихають</h2>
    <p class="review-text">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>

    <div class="swiper review-swiper">
      <div class="swiper-wrapper review-swiper-wrapper"></div>
    </div>

    <div class="review-navigation">
      <div class="review-pagination-wrapper">
        <div class="review-pagination"></div>
      </div>
      <div class="nav-block">
        <button class="nav review-prev" type="button" aria-label="Попередній відгук">
          <svg class="review-svg" width="24" height="24">
            <use href="/img/icon/icons.svg#icon-arrow_back"></use>
          </svg>
        </button>
        <button class="nav review-next" type="button" aria-label="Наступний відгук">
          <svg class="review-svg" width="24" height="24">
            <use href="/img/icon/icons.svg#icon-arrow_forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>