.footer {
    background-color: #c3b49d;
    font-family: "IBM Plex Sans", sans-serif;;
    color: #2e261f;
    padding: 48px 0px;
}

.footer__container {
    text-align: center;
}

.margin-bottom-32{
    margin-bottom: 32px;
}

/* ЛОГО */
.footer-logo{
    display: block;
}

/* НАВІГАЦІЯ */

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (min-width: 768px) {
    .footer-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
}

.footer__link {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
}

@media only  screen and (min-width: 1440px) {
    .footer__link{
        font-size: 14px;
    }
}

.footer__link:hover,
.footer__link:focus {
    color: rgba(238, 233, 227, 1);
    transform: translateY(-2px);
}

.footer__link:active {
    opacity: 0.7;
}

/* СОЦМЕРЕЖІ */
.footer__socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
}

.social-link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.social-link svg, 
.social-link svg path {
    transition: fill 0.3s ease;
}

.social-link:hover,
.social-link:focus {
    background: transparent;
    transform: scale(1.1);
}

.social-link:hover svg path,
.social-link:focus svg path,
.social-link:hover svg,
.social-link:focus svg {
    fill: rgba(238, 233, 227, 1);
}

.social__link:active {
    transform: scale(0.95);
}

/* ЛІНІЯ */
.footer__divider {
    height: 1px;
    background: rgba(46, 38, 31, 0.3);
    margin: 20px 0;
}

/* КОПІРАЙТ */
.footer__copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #1b1e22;
}

@media only screen and (min-width: 1440px) {
    .footer__copy{
        font-size: 14px;
    }
}



