/* Глобальні скидання */
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --anim-speed: 0.3s;
  --main-brown: #88765c;
  --hover-brown: #eee9e3;
  --bg-light: #eee9e3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity var(--anim-speed) ease,
    visibility var(--anim-speed) ease;
}

.animal-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400px;
  line-height: 150%;
  font-size: 16px;
  color: #02060a;
}
.modal {
  position: relative;
  padding: 64px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  width: calc(100% - 40px);
  overflow-y: auto;
  max-height: 90vh; 
  clip-path: inset(0 round 8px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .modal {
    padding: 64px 32px;
    width: calc(100% - 64px);
  }
}
@media only screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
    width: calc(100% - 128px);
  }
}

/* Кнопка закриття */
.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;

  transition:
    opacity var(--anim-speed) ease,
    transform var(--anim-speed) ease;
}
.modal-close-btn:hover {
  opacity: 0.6;
  transform: rotate(90deg);
}

.modal-close-btn svg {
  stroke: #02060a;
  fill: none;
}

/* Контент */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .modal-content {
    flex-direction: row;
    gap: 32px;
  }
}
.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .modal-header {
    order: 1;
  }
  .btn-primary.adoptBtn {
    order: 2;
  }
  .modal-body {
    order: 3;
  }
}
@media only screen and (min-width: 1440px) {
  .modal-header {
    order: 1;
  }
  .modal-body {
    order: 2;
  }
  .btn-primary.adoptBtn {
    order: 3;
  }
}
.modal-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.details-row {
  display: flex;
  gap: 16px;
}
.modal-header .name {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1%;
}
.modal-info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.5;
}
.info-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info-title {
  font-weight: 600;
}
.info-title .behavior{
  font-weight: 700;
}

/* Зображення */
.modal-image-thumb {
  height: 295px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.animal-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .modal-image-thumb {
    width: 50%;
    height: 450px;
    flex-shrink: 0;
  }
  .animal-image {
    width: 100%;
    height: 100%;
  }
}

/* Головна кнопка "Взяти додому" */
.btn-primary {
  width: 100%;
  background-color: var(--main-brown);
  border: 1px solid var(--main-brown);
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;

  transition:
    background-color var(--anim-speed) ease,
    color var(--anim-speed) ease,
    box-shadow var(--anim-speed) ease;
}
@media only screen and (min-width: 768px) {
  .btn-primary {
    width: 100%;
  }
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--hover-brown);
  border: 1px solid var(--main-brown);
  outline: none;
  color: #02060a;
}
.btn-primary:active {
  background-color: var(--bg-light);
  color: #02060a;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08) inset;
}
.btn-primary:disabled {
  background-color: var(--bg-light);
  color: #ffffff;
  cursor: not-allowed;
  box-shadow: none;
  border: none;
}

/* Стилізація скролбару */
.modal::-webkit-scrollbar {
  width: 8px; 
}
.modal::-webkit-scrollbar-track {
  background: transparent; 
  margin: 20px 0; 
}
.modal::-webkit-scrollbar-thumb {
  background: #d1d1d1; 
  border-radius: 10px; 
}
.modal::-webkit-scrollbar-thumb:hover {
  background: var(--main-brown); 
}