.tails {
    padding: 64px 0 32px;
}
.tails-title {
    text-align: center;
}

.tails-title-heading {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a
}

.tails-subtitle {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        color: #02060a;
}

@media only screen and (min-width: 1440px) {
    .tails-title-heading {
        font-size: 48px;
    }
    .tails-subtitle {
        font-size: 18px;
    }
}

.tails-category {
    margin: 40px 0;
}

.tails-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.tails-item {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: #eee9e3;
    padding: 12px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .tails-item{
        width: calc((100% - 32px) / 2);
    }
}

@media only screen and (min-width: 1440px) {
    .tails-item {
        width: calc((100% - 64px) / 3);
    }
}

.tails-btn {
    display: block;
    width: 100%;
    margin: 40px auto 0;
    border: 1px solid #88765c;
    border-radius: 8px;
    padding: 12px 24px;
    background: #88765c;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    transition: border 250ms ease, background 250ms ease, box-shadow 150ms ease-in-out, color 250ms ease;
}

.tails-btn:hover,
.tails-btn:focus {
    background: #eee9e3;
    color: #02060a;
}

.tails-btn:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #eee9e3;
}

.tails-btn:disabled {
    background: #88765c;
    opacity: 0.3;
}

@media only screen and (min-width: 768px) {
    .tails-btn {
        width: 335px;
    }
}

@media only screen and (min-width: 1440px) {
    .tails-btn {
        width: 192px;
        font-size: 16px;
    }
}